.fortune-wrapper{
   width:98.5vw;
   height:98.5vh;
   display:block;
   background-color:lightgrey;
   padding:0;
   /* border: 1px solid blue; */
}
.fortune{
   width:500px;
   height:200px;
   display:block;
   position:absolute;
   transform-origin:40% 50%;
   /* border:1px solid white; */
   top: 30vh;
    left: 35vw;
   transform:rotate(-10deg);
}

.fortune-left{
   width:200px;
   height:200px;
   position:absolute;
   left:0;
   background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77607/cookie-left.png");
   background-repeat:no-repeat;
   background-position:right center;   
   /* border:1px solid red; */
   z-index:1;
}
.fortune-right{
   width:200px;
   height:200px;
   position:absolute;
   left:190px;
   background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77607/cookie-right.png");
   background-position:20px 20px;
   background-repeat:no-repeat;
   background-position:left center;
   /* border:1px solid yellow; */
   z-index:3;
}

.fortune-message{    
       display: inline-block;
    position: absolute;
    left: -90vw;
    right: 10vw;
    font-family: "Avenir Next", "Open Sans" "Arial";
    top: -10%;
    bottom: 70%;
    font-weight: 400;
    z-index: 2;
    overflow: hidden;
    /* border: 1px solid green; */
    -webkit-transform: rotateZ(8deg);
    transform: rotateZ(6deg);
}
   span{
      display:block;
      background-color: #fff;
       padding: 8px 55px 7px 6px;
    white-space: nowrap;
    
    /* border: 1px solid blue; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      transform-origin:right bottom;
      position:absolute;
      bottom: 20%;
    right: 2%;
      
   }
   .add-quotes{
   display:block;
   position: relative;
   bottom: 10vh;
   left: 90vw;
   /* border: 1px solid black; */
}

